<link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

<style>
    body,
    h1, h2, h3, h4, h5, h6,
    p, li, blockquote {
        font-family: "Source Serif 4", sans-serif;
    }

    code,
    pre,
    tt,
    kbd,
    samp {
        font-family: "JetBrains Mono", monospace !important;
    }
</style>